.main-nav {
  width: 100%;

  /* position: relative; */
  position: sticky;
  top: 0;
  flex-direction: column;
  z-index: 9999;
}

.main-nav-inner {
  display: flex;
  z-index: 9999;
  /* padding: 0.5rem 0; */
  height: 3.6rem;

  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row !important;
  margin: 0 auto;
}

/* Navbar links */
nav.main-nav .nav-link,
.events-navlink {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--main-color) !important; /* default light mode color */
  margin: 0 25px;
}

/* Dark mode */
body.dark-mode header {
  background-color: #222222;
}

nav.navbar a.nav-link.current {
  font-weight: 700; /* bold */
}

nav.navbar a.nav-link:hover {
  opacity: 0.8;
}

/* HR styling */
hr {
  border: none;
  height: 3px; /* thicker */
  background-color: #c7c7cb; /* light mode */
  margin-top: 0;
  margin-bottom: 0;
}

body.dark-mode header hr {
  background-color: #29192e; /* dark mode color */
}

.navbar-nav .nav-link {
  text-decoration: none;
  text-underline-offset: 0.4rem;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link.selected {
  text-decoration: underline;
  font-weight: bold;
}

.icon-menu-container {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  min-height: 10vh;
}

.icon-menu {
  visibility: hidden;
  color: var(--main-color) !important;
  font-size: 2rem;
  position: absolute;
  right: 3rem;
  top: 3rem;

  z-index: 9998; /* lower than .main-nav-inner*/
}

.icon-menu:hover {
  cursor: pointer;
}

.header-bottom-divider {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-alt);
}

.menu-title {
  color: var(--main-color);
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
  display: none;
}

.menu-close-icon {
  color: whitesmoke !important;
}

.menu-close-icon-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: var(--main-color) !important;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
}

@media (max-width: 1024px) {
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: var(--bg-color);
  }

  .main-nav.is-open {
    opacity: 1;
    visibility: visible;
    transition: all 0.25s ease;
  }

  .icon-menu-container {
    display: block;
  }

  .navbar-nav {
    flex-direction: column !important;
  }

  .menu-title {
    display: inline-block;
  }

  .main-nav-inner {
    flex-direction: column;
    padding-top: 10rem;
  }

  .header-bottom-divider {
    visibility: hidden;
  }

  .icon-menu {
    visibility: visible;
  }

  .navbar-nav .nav-item {
    text-align: center;
  }

  .menu-close-icon-container {
    display: flex;
  }
}
